<div class="header">
    <div class="shadow">
        <div class="bg"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="header-text">Welcome</h1>
            <p class="header-text">I decided to make a listing of job opportunities. I know the front is not he most amazing, I wish I had more time to make it better aswell as
                to add a feature to filter the opportunities based on the genome and show compatibility as a percentage. Thanks for the opportunity and hopefully we will see ourselfs 
                working together in the future.
            </p>
        </div>
    </div>
</div>
<div class="slider">
    <app-slider>
        <div appSliderItem *ngFor="let job of jobs" style="margin: 10px; position: relative; ">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{job.objective}}</mat-card-title>
                    <mat-card-subtitle>{{job.type}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="job.organizations[0].picture" style="max-height: 30vh;" >
                <mat-card-actions>
                    <button class="readButton" (click)="openDetail(job)" mat-button>READ</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </app-slider>
</div>
